<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Página de Teste do ambiente JSF e Primefaces</title>
</h:head>
<h:body>
	<h:form id="registro">
		<p:growl id="message" showDetail="true" />

		<h:outputLabel value="Digite o seu nome:" for="nome" />
		<h:inputText id="nome" value="#{usuarioBean.nome}" required="true"
				size="60" maxlength="100">
		<!-- 	<f:passThroughAttribute name="placeholder" value="Nome de Usuário" />
 -->		</h:inputText>

		
		<div class="card">
			<p:commandButton value="Confirmar" type="button"
				icon="pi pi-external-link" onclick="PF('dlg1').show()" />
		</div>
	

	<p:dialog header="Confirmação" widgetVar="dlg1" minHeight="40" width="350"
		showEffect="fade">
		<p class="p-m-0">Seja bem vindo  #{ usuarioBean.nome}</p>
	</p:dialog>
</h:form>

</h:body>

</html>