<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
	<title>Pratica 1 do Workshop JSF e Primefaces</title>
</h:head>

<h:body>
	<h:form id="registro">

		<fieldset style="width: 0px">
			<legend>Inscrição no boletim de notícias </legend>
			<h:panelGrid columns="1">

				<!-- Campo nome do cliente (início) -->
				<h:outputLabel value="Nome:" for="nome" />
				<h:inputText id="nome" value="#{registroBean.registro.nome}"
					required="true" size="60" maxlength="100">
					<f:validateLength minimum="4" />
					<f:attribute name="type" value="nome" />
					<f:passThroughAttribute name="placeholder" value="Nome" />
					<f:ajax event="blur" render="messageNome" />
				</h:inputText>

				<h:message for="nome" id="messageNome" />
				<!-- Campo nome do cliente (final) -->

				<!-- Campo email do cliente (início) -->
				<h:outputLabel value="email :" for="email" />
				<h:inputText id="email" value="#{registroBean.registro.email}"
					required="true" validatorMessage="Email  inválido" size="60"
					maxlength="100">

					<f:attribute name="type" value="email" />
					<f:passThroughAttribute name="placeholder" value="email do usuário" />


					<f:validateRegex pattern=".+@.+" />
					<f:ajax event="blur" render="email" />
				</h:inputText>
				<h:message for="email" id="messageEmail" />
				<!-- Campo email do cliente (final) -->

				<h:commandButton value="Inscrever-se"
					action="#{registroBean.gravar}" process="@form" update="@form "
					resetValues="true" />
			</h:panelGrid>
		</fieldset>
	</h:form>
</h:body>

<!-- 	</ui:define>

</ui:composition>
 -->
</html>